<h2>My tasks</h2>
<ul>
<% @tasks.each do |task| %>
  <% if task.completed == true %>
    <li>
      <input type="checkbox" name=completed checked>
      <%= link_to task.title, task_path(task)%>
    </li>
  <% else %>
    <li>
      <input type="checkbox" name=completed>
      <%= link_to task.title, task_path(task)%>
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to "Add a new task", tasks_new_path%>


